# Ignore environment and secrets
.env
*service-account*.json
*service_account*.json
firebase-adminsdk*.json

# macOS metadata
.DS_Store

# python venv
venv/

# Node dependencies
node_modules/

# Local Netlify folder
.netlify
